<ion-content  [fullscreen]="true">
 
<div class="container" style="text-align: center; margin-top: 50%">
<img src="https://www.gdc.gob.ve/intranet_bomb/custom-files/img/logo/vl_logo_app.gif">

</div>
  

<div class="container" style="text-align: center; margin-top: 50%">

<ion-title>Bienvenidos al Cuerpo de Bomberos</ion-title>
    
    </div>
  
<ion-fab vertical="bottom" horizontal="end" style="margin-bott">

<ion-fab-button [routerLink]="['/login']">

<ion-icon name="chevron-forward"></ion-icon>  

</ion-fab-button>

</ion-fab>


</ion-content>