<ion-content [fullscreen]="true" >

  <header class="header">

    <li class="header__li"> <a href="/aprende" class="header__a"> EQUIPOS DE BOMBEROS </a></li>
  
    <button (click)=" setActive() " class="header__button">
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
  
    <nav class="header__nav" [ngClass]="{ 'header__nav--activo' : active }">
      <ul class="header__ul">
        <ng-container *ngFor="let item of headerItems">
          <li class="header__li">
            <a [href]="item.link" class="header__a">
              
              <span class="header__link-text">{{ item.text }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
    
  </header>

  <br>
  <br>
  <br>
  <br>


  <ion-card *ngFor="let miembro of miembros">
    <ion-card-header>
      {{ miembro.nombre_equipo }}
    </ion-card-header>

    <ion-card-content>

      <ion-img [src]="miembro.imagenUrl" alt="Imagen de miembro"></ion-img>


      <ion-list lines="full">

        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-text>{{ miembro.estado }}</ion-text>
        </ion-item>

       
      </ion-list>
    </ion-card-content>

    <ion-button expand="full" (click)="toggleDetails(miembro)">
      {{ miembro.mostrarDetalles ? 'Ocultar Detalles' : 'Mostrar Detalles' }}
    </ion-button>

    <ion-card-content *ngIf="miembro.mostrarDetalles">
     
      <ion-list lines="full">

        <ion-item>
          <ion-label>Detalles</ion-label>
          <ion-text>{{ miembro.detalles }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Historial de mantenimiento</ion-label>
          <ion-text>{{ miembro.historial }}</ion-text>
        </ion-item>
    
      </ion-list>

    </ion-card-content>
  </ion-card>
 

</ion-content>



