.input{

    font-size: 300;
    
    }
    
    ion-item{
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
    
    }
    
    ion-button {
        border-radius: 10px;
        margin-bottom: 16px;


    }

    img {
        top: 20px;
        left: 0;
      }

    .header{
    
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    
    .subTitle{
    
    color: gray;
    font-size: 0.9rem;
    }
    
    title{
    
    font-size: 2rem;
    
    }
    
    }
    
    .signupLink{
    
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 14px;
    width: 80%;
    right: 20px;
  
    p{
    
    font-size: 0.9rem;
    
    }
    
    a{
    
    text-decoration: none;
    }
    
    }
    
    .forgotPassword{
    
    display: flex;
    justify-content: flex-end;
    
    a{
    
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;    
    }
    
    
    }


    ion-content {
        text-align: center;
      
        .timer-message {
          margin-top: 20px;
          padding: 10px;
          background-color: #f2f2f2;
          border-radius: 5px;
      
          p {
            margin: 0;
          }
        }
      }