<ion-content [fullscreen]="true" >
 
<div class="header">
 
  
<img src="https://www.gdc.gob.ve/intranet_bomb/custom-files/img/logo/vl_logo_app.gif">
    
  
</div>

<!----------------------------------------------------------------------------------------->

<!--     
<form>

<div class="ion-padding">

<ion-item>
<ion-input placeholder="Correo" class="input"></ion-input>
<ion-icon name="person-outline"></ion-icon>
</ion-item> 

<ion-item>
<ion-input placeholder="Contraseña" class="input"  ></ion-input>
<ion-icon name="lock-closed-outline"></ion-icon>
</ion-item> 

<div class="forgotPassword">

<a [routerLink]="['/reset-password']" >Has olvidado tu contraseña</a>  

</div>

<div class="signupLink">
  
<p> nuevo miembro? <a  [routerLink]="['/singup']"   >Regístrate ahora</a> </p>

</div>



</div>

<ion-fab vertical="bottom" horizontal="end" style="margin-bott">

  <ion-fab-button [routerLink]="['/home']">
  
  <ion-icon name="chevron-forward"></ion-icon>  
  
  </ion-fab-button>
  
  </ion-fab>


</form>  -->

<!----------------------------------------------------------------------------------------->

<!------------------------------------------REMPLAZO------------------------------------------------------------------------------------------------------>

<div class="contenedor">   
  <div class="ion-padding">
  
  <ion-item>
  <ion-input type="email" [(ngModel)]="email" placeholder="Correo electrónico" ></ion-input>
  <ion-icon name="person-outline"></ion-icon>
  </ion-item> 
  

  <ion-item>
  <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
  <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-item> 
  
  <ion-item>
  <ion-input type="password" [(ngModel)]="repassword" placeholder="Contraseña"></ion-input>
  <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-item> 
  
  <div class="forgotPassword" >

    <a [routerLink]="['/reset-password']" >Has olvidado tu contraseña</a>  
    
  </div>
    
  </div>

  <div class="signupLink">
      
    <p> ¿Nuevo miembro? <a  [routerLink]="['/singup']"   >Regístrate ahora</a> </p>
    
    </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom">
    <ion-fab-button (click)="login()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</div>


<!------------------------------------------REMPLAZO------------------------------------------------------------------------------------------------------>


</ion-content>
